html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    position: relative
}

.text-content {
    font-size: 18px;
    padding-left: 6%;
    padding-right: 6%;
    line-height: 1.5em;
}

.main-img, .main-2-img {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

}


@media (max-width: 600px) {
    .main-img {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .main-2-img {
        display: none;
    }
}

@media(min-width: 1200px) {
    .container-2 {
        display: flex;
    }

    .container-3 {
        display: none;
    }

}

@media(max-width: 1300px) {
    .extracontent {
        display: none;
    }

    .box-B1, .box-B3 {
        display: none;
    }

    .container-3 {
        display: flex;
    }

    .box-A1 {
        padding: 2px;
    }

    .text-content {
        padding-left: 2px;
        padding-right: 2px;
    }

    .order-img {
        height: 100%;
    }
}

.white-color {
    color: white;
}

.container {
    text-align: center;
    margin: auto;
}

.container-1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 1920px;
}

.box-A1, .box-A2, .box-A3, .box-A4, .box-A5, .box-A6, .box-A7, .box-B1, .box-B3, .box-C1 {
    flex: 1;
    text-align: center;
    color: white;
    padding: 15px;
}

.box-D1, .box-D2 {
    flex: 1 50%;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.box-B2 {
    flex: 1;
    text-align: center;
    color: white;
    padding: 0px;
    padding-top: 15px;
}

.box-1-navbar-2 {
    text-align: center;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.footer-1, .footer-2 {
    flex: 1;
    text-align: center;
    color: black;
}


.container-footer div {
    padding: 10px;
    background-color: white;
}

@media(max-width: 900px) {
    .navbar-1 {
        display: none;
    }

    .centered {
        display: none;
    }

    .menunavbarpc {
        display: none;
    }
}

@media(min-width: 900px) {
    .navbar-2 {
        display: none;
    }

    .centered-2 {
        display: none;
    }

    .navbar-1, .container-footer, .menu-item-heading, .menu-navbar-pc {
        display: flex;
    }

    .menu-navbar-mobile {
        display: none;
    }
}

.main-h1 {
    font-size: 30px;
    letter-spacing: 1px;
    color: red;
    text-align: center;
}

.navbar-allergies {
    display: flex;
    color: black;
    border-bottom: 0.1px solid #333;
}

.navbar-allergies>div {
    display: flex;
    background-color: #ccc;
    text-align: center;
}

.flex1 {
    width: 12%;
    text-align: center;
}

.flex2, .flex3 {
    width: 45%;
}

.flex1 > div {
    width: 100%;
}

.flex2>div {
    width: 32%;
    padding-top: 5px;
}

.flex3>div {
    width: 32%;
    padding-top: 5px;
}

.navbar-1 a {
    float: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    /* Four links of equal widths */
    text-align: center;
}

.navbar-1 a:hover {
    background-color: #000;
    font-weight: 900;
}

.navbar-1 a.active {
    background-color: black;
    font-weight: 900;
}

.navbar-2 {
    overflow: hidden;
    background-color: black;
    position: relative;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar-2 #myLinks {
    display: none;
}

.menu-img {
    padding: 16px;
    margin-top: 30px;
}

.menu-img img {
    max-width: 100%;
    min-width: 25%;
    height: auto;
}

.btn {
    width: 200px;
    height: 40px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}

.btn:hover {
    border: 2px solid white;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
}

.copyright {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 10px;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(media/Preloader_8.gif) center no-repeat rgb(0, 0, 0);
}

/* MENU */

.menunavbarpc {
    margin: auto;
    color: black;
}

.menunavbarmobile {
    font-weight: 550;
    text-decoration: none;
    text-decoration: none;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
}

.menu-navbar-pc {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border-bottom: 0.1px solid #333;
    width: 100%;
}

.menu-navbar-pc a:hover {
    font-weight: 900;
}

.menu-navbar-mobile {
    background-color: #ccc;
    width: 100%;
    margin-top: 0px;
    border: 0.1px solid #333;
    text-align: center;
}

.menu-navbar-mobile a {
    float: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    /* Four links of equal widths */
    text-align: center;
}

#menu-navbar-mobile-select {
    border: 0.1px solid #333;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    border-radius: 6px;
}

.menu-container {
    margin: 0 auto;
    color: white;
    background-color: rgb(255, 255, 255);
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 1.5em;
    color: black;
    padding-top: 0px;
}

.menu-group-heading {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 0.5em;
    color: red;
}

.menu-item-price {
    color: red;
    margin-right: 1.5em;
    white-space: nowrap;
}

.menu-item-description {
    line-height: 1.2;
}

.menu-item-allergies {
    color: rgb(68, 68, 236);
}

.subheading {
    margin-bottom: 0px;
    color: blue;
    padding-top: 10px;
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}

@media(max-width: 650px) {
    .menubar {
        display: none;
    }

    .menu-item-price {
        margin-right: 0em;
    }
}

@media(max-width: 1000px) {

    .navbar-allergies {
        flex-direction: column;
    }

    .flex1, .flex2, .flex3 {
        width: 100%;
    }

    .flex1 {
        border-top: 0px;
    }
}

@media(max-width: 1200px) {
    .container-1 {
        flex-direction: column;
    }
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(0, 0, 0, 0.376);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    padding-bottom: 12px;
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}